{% extends 'index.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div >
                <div class="card" style="border: none;">
                    <img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916__340.png" style="width: 30em;" class="card-img-top img-fluid"
                        alt="...">
                    <div class="card-body">
                        
                    </div>
                </div>
    
            </div>

        </div>

        <div class="col-md-6">
            <div class="container pt-5 justify-content-center" >
                <table class="table" >
                    
                    
                      <tr>
                          <td colspan="4"></td>
                        
                        <td >Name</td>
                        
                        <td>Sreeraj Palat</td>
                      </tr>
                      <tr>
                        <td colspan="4"></td>
                        <td>Place</td>
                        
                        <td>Manjeri</td>
                      </tr>
                      <tr>
                       
                        <td colspan="4"></td>
                        <td >Email</td>
                        
                        <td>sreerajpaalat@gmail.com</td>
                      </tr>
                      <tr>
                        <td colspan="4"></td>
                        <td>Phone</td>
                       
                        <td>91 9809 222 138</td>
                      </tr>
                    
            
            </div>
        </div>
    </div>
</div>





 {% endblock %}