{% extends 'index.html' %}

{% block content %}

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Roll no</th>
            <th scope="col">Mark</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Sreeraj</td>
            <td>39283819</td>
            <td>89</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>shabeer</td>
            <td>37826362</td>
            <td>98</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Basil</td>
            <td>38267153</td>
            <td>66</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Abhay</td>
            <td>37285698</td>
            <td>73</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Sankarl</td>
            <td>27361598</td>
            <td>66</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Salih</td>
            <td>38123453</td>
            <td>69</td>
          </tr>
        </tbody>
      </table>
</div>

{% endblock %}