{% extends 'index.html' %}

{% block content %}

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            
            <th scope="col">Email Id</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Sreeraj</td>
            <td>26-06-1996</td>
           
            <td>sreerajpaalat@gmail.com</td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Shabeer</td>
            <td>13-07-1996</td>
           
            <td>shabeer@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Basil</td>
            <td>12-06-1990</td>
           
            <td>basil@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Abhay</td>
            <td>14-09-2000</td>
            
            <td>abhaykumar@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Sankar</td>
            <td>10-10-2001</td>
            
            <td>sankaranarayanan@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Salih</td>
            <td>03-12-1998</td>
           
            <td>Muhammedsalih@gmail.com</td>
          </tr>
        </tbody>
      </table>
</div>

{% endblock %}